#readMessagesContainer{
    text-align:center;
    height: 250px;
    max-width:1140px;
    overflow:scroll;
    margin-top:10px;
    background-color: #5bc0de;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#readMessagesContainer p{
    text-align:left;
    margin-left:15px;
    margin-top: 10px;
    font-size:20px;
    color:#fafdfe;
    
}

.readMessagesBar{
    text-align:left;
    padding: 0px;
}

.sentMessage{
    margin-top: 10px;
}

#sent {
    text-align:right;
}

#received{
    text-align:left;
}


.sentMessage li{
    list-style-type: none;
    font-size:20px;
    color:#fafdfe;
    margin-left:15px;
}

button{
    margin-top:10px;
    margin-bottom:10px;
}

@media (max-width: 800px) {
    #readMessagesContainer{
       margin:15px;
}
    .readMessagesBar{
    padding: 0px;
}
}