#sendMessagesContainer{
    margin-top: 10px;
    text-align:center;
}

#sendMessagesContainer button{
    margin-bottom:10px;
}

textarea{
    font-size:20px;
    max-width:100%;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
label{
    width:100%;
    text-align:center;
}
